.navbar {
    width: 85%;
    margin: 0 auto;
    background-color: #1f1a36;
    color: aliceblue;
    padding: 1rem;
    margin-block: 1rem;
    border-radius: .5rem;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}

.left h1 {
    line-height: 0;
    color: #fff;
    transform: skewX(-25deg);
    text-transform: uppercase;
    background-color: antiquewhite;
    position: relative;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.left h1:hover {
    color: bisque;
}

.mobile {
    display: none;
}

.right {
    position: relative;
}

.right button {
    color: white;
    background-color: transparent;
    border: 1px solid antiquewhite;
    border-radius: .5rem;
    cursor: pointer;
    padding: 3px 5px;
    transition: all.4s ease-in-out;
    font-weight: 700;
}

.connected {
    position: relative;
}

.userModal {
    position: absolute;
    top: 4rem;
    right: 0;
    padding: 1rem;
    width: 15rem;
    border-radius: .5rem;
    background-color: #1f1a36;
}

.user_box {
    text-align: center;
    position: relative;
}

.closeBtn {
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.closeBtn:hover {
    transform: rotate(-45deg);
}

/* //////// price section */

.price {
    width: 85%;
    margin: 0 auto;
    color: aliceblue;
    margin-block: 1rem;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    overflow: hidden;

}

.price_box {
    background-color: #1f1a36;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    line-height: .2;
    align-items: center;
    gap: 2rem;
}

.price_box h4{
    font-size: 1rem;
    color: white;
}

.etherPrice {
    color: rgb(253, 239, 213);
    display: flex;
    align-items: center;
    gap: 2rem;
}

.etherPrice p {
    font-size: 14px;
    line-height: .5;
    font-weight: 600;

}

.supplyEther{
    color: rgb(253, 239, 213);
    display: flex;
    gap: 2rem;
    align-items: center;
}

.supplyIcon {
    font-size: 3rem;
}

.logoWidth {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-left: 1px solid antiquewhite;
    text-align: center;
    padding-left: 2.5rem;
}

.logoWidth p {
    line-height: 1.3;
    margin-right: 1rem;
    font-size: 1.1rem;
    color: white;
    background-color: rgba(250, 235, 215, 0.533);
    padding: 1rem 0;
    border-radius: .2rem;
}

/* ///////// media query */
@media screen and (max-width: 45em) {
    .navbar {
        width: 100%;
        margin-block: 0rem;
        padding: 0rem;
        border-radius: 0rem;
    }

    .navbar_container {
        padding: 1rem 2rem;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        line-height: 0;
        cursor: pointer;
    }

    .price {
        grid-template-columns: 1fr;
        padding: 0;
        width: 95%;
    }

    .price_box {
        display: grid;
    }

    .etherPrice {
        padding: .5rem;
    }

    .logoWidth {
        width: 100%;
        border-left: 0;
        padding-left: 0;
    }

    .logoWidth p {
        font-size: .8rem;
    }

    .tokenBox_logo {
        text-align: center;
        margin-bottom: -2.6rem;
    }

    .right button{
        width: 100%;
    }

    .userModal{
        right: .5rem;
    }
}